.flex, .center-flex, .content, .galery {
    display: flex;
    flex-flow: row wrap;
}

.center-flex, .galery, .content {
    justify-content: center;
    align-items: center;
}

.content {
    width: 80vw;
    padding: 1em;
    flex-flow: column nowrap;
    border-radius: 3px;
    background-color: var(--highlight-color);
    box-shadow: 0px 0px 10px var(--shadow-color);
}

.content>* {
    width: 100%;
}

.galery {
    justify-content: space-around;
}

.galery > * {
    width: 30%;
    margin-top: 1em;
}

p{
    display: block;
    padding: 1em;
    margin: 0;
}

h2 {
    margin-bottom: 0;
}

.shadow, .content {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 640px) {
    .content {
        width: 100vw;
    }

    .galery > * {
        width: 100%;
    }
}